<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/create-user" method="POST">
      <label for="firstname">First name</label>
      <input name="firstname" placeholder="firstname" type="text" />
      <label for="lastname">Username</label>
      <input name="lastname" placeholder="lastname" type="text" />
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Sign Up</button>
    </form>
    <a href="/login">Already a member? log in</a>
  </body>
</html>
